/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  header .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  header nav {
    margin-top: 10px;
  }
  
  header nav a, header nav button {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  header nav button:hover, header nav a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .main-content {
    padding: 20px;
  }
  
  h2, h3 {
    color: #333;
  }
  
  input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f1f1f1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form input {
    margin-bottom: 10px;
  }
  